.algorithms-container {
    display: flex;
    justify-content: left;
    align-items: left;
    min-height: 10vh;
    padding: 2rem;
}

.algorithms-title {
    text-align: center;
    font-size: 1.5rem;
}